<div class="px-4 sm:ml-64">
  <div class="">
    <div class="grid grid-cols-1 gap-4 py-1 mb-4">
      <div class="flex items-center justify-between p-5 bg-white">
        <div class="flex items-center text-primary-100">
          <span class="font-extrabold text-xl">Feedback</span>
          <span class="mx-2">
            <svg viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-3">
              <path d="M4.95 6.364L0 1.414L1.414 0L7.778 6.364L1.414 12.728L0 11.314L4.95 6.364Z" fill="black" />
              <path d="M12.95 6.364L8 1.414L9.414 0L15.778 6.364L9.414 12.728L8 11.314L12.95 6.364Z" fill="black" />
            </svg>
          </span>
          <span class="text-lg font-normal">Complaints</span>
        </div>
        <div class="mr-2 lg:mr-20">
          <svg class="w-5 h-5" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M26 22.6047H0V20.093H1.3V11.3413C1.3 5.07726 6.539 0 13 0C19.461 0 24.7 5.07726 24.7 11.3413V20.093H26V22.6047ZM9.75 23.8605H16.25C16.25 24.6931 15.9076 25.4917 15.2981 26.0805C14.6886 26.6692 13.862 27 13 27C12.138 27 11.3114 26.6692 10.7019 26.0805C10.0924 25.4917 9.75 24.6931 9.75 23.8605Z"
              fill="#8A6CC8" />
          </svg>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center h-48 mb-4 rounded bg-white">
      <p class="text-2xl text-gray-400">+</p>
    </div>
  </div>
</div>
